{% extends "layout" %}

{% block title %}Users{% endblock title %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{user.name}}</h1>

      <p class="govuk-body">Email: {{user.email}}</p>
      <p class="govuk-body">Age: {{user.age}}</p>
    </div>
  </div>
{% endblock content %}
